body {
  background: grey;
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
  font-size: 1.5em;
  color: #333;
  line-height: 1.5em;
}

body, button {
  font-family: monospace;
}

input, button {
  font-size: 18px;
}

h1, h2, h3 {
  color: #000;
}

h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

.title {
  text-align: center;
  white-space: pre;
  color: yellow;
}

.game-view {
  background: yellow;
  padding: 20px;
}

.guesser-view {
  display: flex;
}

.guesser-view div {
  flex-basis: 100%;
}

.outcome-message {
  color: #4169e1;
}

.answer {
  letter-spacing: 0.55em;
}

line {
  stroke: black;
  stroke-width: 4;
}

